language:
  - python

dist:
  - trusty

python:
  - 3.6.5

# matrix:
#   include:
#     - os: osx
#       language: generic
#       python:
#       osx_image: xcode 8.2

install:
  - pip3 install -r requirements/lint-requirements.txt
  - pip3 install -r requirements/test-requirements.txt

script:
  - coala --ci && pytest -n 2 --cov=src

after_success:
  - pip install coveralls codecov
  - coveralls
  - codecov
